.gr-item-1{
    width: 220px;
}

.gr-item-2{
    width: 265px;
}

.gr-item-3{
    width: 230px;
}

.gr-item-4{
    width: 270px;
}

.gr-item-5{
    width: 460px;
}

.gr-item-6{
    width: 400px;
}

.gr-item-7{
    width: 300px;
}

.gr-item-8{
    width: 370px;
}

.gr-item-9{
    width: 370px;
}

.gr-item-10{
    width: 400px;
}

.gr-item-11{
    width: 340px;
}
